<mat-toolbar color="primary">
  <ng-container *ngIf="!isLogged; else viewAdmin">
    <span>Sistema de ventas</span>
    <span class="spacer"></span>
  </ng-container>
  <div>
    <!-- Con routerLink nosotros le indicamos a donde queremos que se dirija al presionar el boton -->
    <a *ngIf="!isLogged; else viewLogout" mat-button routerLink="/login">Iniciar sesión</a>
  </div>
</mat-toolbar>

<ng-template #viewLogout>
  <a mat-button (click)="onLogout()">Cerrar sesión</a>
  <a mat-button routerLink="/admin">Admin</a>
</ng-template>

<ng-template #viewAdmin>
  <button mat-icon-button (click)="onToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Sistema de ventas</span>
  <span class="spacer"></span>
</ng-template>

<!-- <mat-toolbar color="primary">
    <ng-container *ngIf="!isAdmin; else viewAdmin">
        <span>Doctor Plus</span>
    </ng-container>
    <span class="spacer"></span>
  <a *ngIf="!isAdmin" mat-button [routerLink]="'/login'">Iniciar sección</a>
  <a *ngIf="isAdmin"  mat-button [routerLink]="'/admin'">Admin</a>
  <a *ngIf="isAdmin" mat-button color="warn">Cerrar sección</a>
  <button mat-button (click)="isAdmin = !isAdmin">Change</button>
</mat-toolbar>

<ng-template #viewAdmin> 
    <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Doctor plus</span>
      <span class="spacer"></span>
</ng-template> -->
